<div id="footer">
    <p style="float:right;">&copy;{% now "Y" %} Powered by Sukiyaki 1.1</p>
    {% regroup board_list by images as image_list %}
    [ 
    {% for item in image_list %}
        {% if item %}
            {% for board in item.list %}
                {% if board.images %}
                    {% if not board.nsfw %}
                        <a href="{% url imageboard.views.view_board board.abbr %}" class="board_list_link" title="{{board.name}}"><span class="board_abbr">{{board.abbr}}</span></a> 
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    ]

    [ 
    {% for item in image_list %}
        {% if item %}
            {% for board in item.list %}
                {% if not board.images %}
                    {% if not board.nsfw %}
                        <a href="{% url imageboard.views.view_board board.abbr %}" class="board_list_link" title="{{board.name}}"><span class="board_abbr">{{board.abbr}}</span></a> 
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    ]
    
    {% regroup board_list by nsfw as nsfw_list %}
    [ 
    {% for item in nsfw_list %}
        {% if item %}
            {% for board in item.list %}
                {% if board.nsfw %}
                    <a href="{% url imageboard.views.view_board board.abbr %}" class="board_list_link" title="{{board.name}}"><span class="board_abbr">{{board.abbr}}</span></a> 
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    ]
    
    {% comment %}
    {% for board in board_list|default_if_none:"" %}
        <a href="{% url imageboard.views.view_board board.abbr %}" class="board_list_link" title="{{board.name}}"><span class="board_abbr">{{board.abbr}}</span></a> /
    {% endfor %}
    {% endcomment %}
    
    
    
    
</div>